In [274]:
import pandas as pd
import numpy as np
import requests
import geopandas
from bs4 import BeautifulSoup

array([['Aachen', 1, 'Valid', 'L5', 21.0, 'Fell',
        '01/01/1880 12:00:00 AM', 50.775, 6.08333, '(50.775, 6.08333)'],
       ['Aarhus', 2, 'Valid', 'H6', 720.0, 'Fell',
        '01/01/1951 12:00:00 AM', 56.183330000000005, 10.23333,
        '(56.18333, 10.23333)'],
       ['Abee', 6, 'Valid', 'EH4', 107000.0, 'Fell',
        '01/01/1952 12:00:00 AM', 54.21666999999999, -113.0,
        '(54.21667, -113.0)'],
       ['Acapulco', 10, 'Valid', 'Acapulcoite', 1914.0, 'Fell',
        '01/01/1976 12:00:00 AM', 16.883329999999997, -99.9,
        '(16.88333, -99.9)'],
       ['Achiras', 370, 'Valid', 'L6', 780.0, 'Fell',
        '01/01/1902 12:00:00 AM', -33.16667, -64.95,
        '(-33.16667, -64.95)'],
       ['Adhi Kot', 379, 'Valid', 'EH4', 4239.0, 'Fell',
        '01/01/1919 12:00:00 AM', 32.1, 71.8, '(32.1, 71.8)'],
       ['Adzhi-Bogdo (stone)', 390, 'Valid', 'LL3-6', 910.0, 'Fell',
        '01/01/1949 12:00:00 AM', 44.83333, 95.16667,
        '(44.83333, 95.16667)'],
       ['Agen', 392, 'Valid', 'H5', 30000.0, 'Fell',
        '01/01/1814 12:00:00 AM', 44.21667, 0.6166699999999999,
        '(44.21667, 0.61667)'],
       ['Aguada', 398, 'Valid', 'L6', 1620.0, 'Fell',
        '01/01/1930 12:00:00 AM', -31.6, -65.23333000000001,
        '(-31.6, -65.23333)'],
       ['Aguila Blanca', 417, 'Valid', 'L', 1440.0, 'Fell',
        '01/01/1920 12:00:00 AM', -30.866670000000003, -64.55,
        '(-30.86667, -64.55)'],
       ['Aioun el Atrouss', 423, 'Valid', 'Diogenite-pm', 1000.0, 'Fell',
        '01/01/1974 12:00:00 AM', 16.39806, -9.57028,
        '(16.39806, -9.57028)'],
       ['Aïr', 424, 'Valid', 'L6', 24000.0, 'Fell',
        '01/01/1925 12:00:00 AM', 19.08333, 8.38333,
        '(19.08333, 8.38333)'],
       ['Aire-sur-la-Lys', 425, 'Valid', 'Unknown', 0.0, 'Fell',
        '01/01/1769 12:00:00 AM', 50.66667, 2.33333,
        '(50.66667, 2.33333)'],
       ['Akaba', 426, 'Valid', 'L6', 779.0, 'Fell',
        '01/01/1949 12:00:00 AM', 29.51667, 35.05, '(29.51667, 35.05)'],
       ['Akbarpur', 427, 'Valid', 'H4', 1800.0, 'Fell',
        '01/01/1838 12:00:00 AM', 29.71667, 77.95, '(29.71667, 77.95)'],
       ['Akwanga', 432, 'Valid', 'H', 3000.0, 'Fell',
        '01/01/1959 12:00:00 AM', 8.91667, 8.43333, '(8.91667, 8.43333)'],
       ['Akyumak', 433, 'Valid', 'Iron, IVA', 50000.0, 'Fell',
        '01/01/1981 12:00:00 AM', 39.91667, 42.81667,
        '(39.91667, 42.81667)'],
       ['Al Rais', 446, 'Valid', 'CR2-an', 160.0, 'Fell',
        '01/01/1957 12:00:00 AM', 24.41667, 39.51667,
        '(24.41667, 39.51667)'],
       ['Al Zarnkh', 447, 'Valid', 'LL5', 700.0, 'Fell',
        '01/01/2001 12:00:00 AM', 13.660329999999998, 28.96,
        '(13.66033, 28.96)'],
       ['Alais', 448, 'Valid', 'CI1', 6000.0, 'Fell',
        '01/01/1806 12:00:00 AM', 44.11667, 4.08333,
        '(44.11667, 4.08333)'],
       ['Albareto', 453, 'Valid', 'L/LL4', 2000.0, 'Fell',
        '01/01/1766 12:00:00 AM', 44.65, 11.01667, '(44.65, 11.01667)'],
       ['Alberta', 454, 'Valid', 'L', 625.0, 'Fell',
        '01/01/1949 12:00:00 AM', 2.0, 22.66667, '(2.0, 22.66667)'],
       ['Alby sur Chéran', 458, 'Valid', 'Eucrite-mmict', 252.0, 'Fell',
        '01/01/2002 12:00:00 AM', 45.821329999999996, 6.0153300000000005,
        '(45.82133, 6.01533)'],
       ['Aldsworth', 461, 'Valid', 'LL5', 700.0, 'Fell',
        '01/01/1835 12:00:00 AM', 51.78333, -1.7833299999999999,
        '(51.78333, -1.78333)'],
       ['Aleppo', 462, 'Valid', 'L6', 3200.0, 'Fell',
        '01/01/1873 12:00:00 AM', 36.23333, 37.13333,
        '(36.23333, 37.13333)'],
       ['Alessandria', 463, 'Valid', 'H5', 908.0, 'Fell',
        '01/01/1860 12:00:00 AM', 44.88333, 8.75, '(44.88333, 8.75)'],
       ['Alexandrovsky', 465, 'Valid', 'H4', 9251.0, 'Fell',
        '01/01/1900 12:00:00 AM', 50.95, 31.816670000000002,
        '(50.95, 31.81667)'],
       ['Alfianello', 466, 'Valid', 'L6', 228000.0, 'Fell',
        '01/01/1883 12:00:00 AM', 45.26667, 10.15, '(45.26667, 10.15)'],
       ['Allegan', 2276, 'Valid', 'H5', 32000.0, 'Fell',
        '01/01/1899 12:00:00 AM', 42.53333, -85.88333,
        '(42.53333, -85.88333)'],
       ['Allende', 2278, 'Valid', 'CV3', 2000000.0, 'Fell',
        '01/01/1969 12:00:00 AM', 26.96667, -105.31667,
        '(26.96667, -105.31667)'],
       ['Almahata Sitta', 48915, 'Valid', 'Ureilite-an', 3950.0, 'Fell',
        '01/01/2008 12:00:00 AM', 20.74575, 32.41275,
        '(20.74575, 32.41275)'],
       ["Alta'ameem", 2284, 'Valid', 'LL5', 6000.0, 'Fell',
        '01/01/1977 12:00:00 AM', 35.27333, 44.215559999999996,
        '(35.27333, 44.21556)'],
       ['Ambapur Nagla', 2290, 'Valid', 'H5', 6400.0, 'Fell',
        '01/01/1895 12:00:00 AM', 27.66667, 78.25, '(27.66667, 78.25)'],
       ['Andhara', 2294, 'Valid', 'Stone-uncl', 2700.0, 'Fell',
        '01/01/1880 12:00:00 AM', 26.58333, 85.56667,
        '(26.58333, 85.56667)'],
       ['Andover', 2295, 'Valid', 'L6', 3200.0, 'Fell',
        '01/01/1898 12:00:00 AM', 44.61667, -70.75, '(44.61667, -70.75)'],
       ['Andreevka', 2296, 'Valid', 'L3', 600.0, 'Fell',
        '01/01/1969 12:00:00 AM', 48.7, 37.5, '(48.7, 37.5)'],
       ['Andura', 2298, 'Valid', 'H6', 17900.0, 'Fell',
        '01/01/1939 12:00:00 AM', 20.883329999999997, 76.86667,
        '(20.88333, 76.86667)'],
       ['Northwest Africa 5815', 50693, 'Valid', 'L5', 256.8, 'Found',
        nan, 0.0, 0.0, '(0.0, 0.0)'],
       ['Angers', 2301, 'Valid', 'L6', 1450.4442837299246, 'Fell',
        '01/01/1822 12:00:00 AM', 47.46667, -0.55, '(47.46667, -0.55)'],
       ['Angra dos Reis (stone)', 2302, 'Valid', 'Angrite', 1500.0,
        'Fell', '01/01/1869 12:00:00 AM', -22.96667, -44.31667,
        '(-22.96667, -44.31667)']], dtype=object)

In [ ]:
data = pd.read_csv("data/Meteorite_Landings.csv")
data_header = data.columns
data = data.dropna(axis = 1, how='all')
groups = data.groupby(['recclass'])

In [ ]:
data = data.to_numpy()

for c in data:
    if np.isnan(c[4]):
        if c[3] == 'Unknown':
            c[4] = 0.0
        else:
            data_recclass = c[3]
            c[4] = groups.get_group(data_recclass).mean()[1]

In [275]:
headers = requests.utils.default_headers()
headers.update({ 'User-Agent': 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:52.0) Gecko/20100101 Firefox/52.0'})

url = 'https://www.lpi.usra.edu/meteor/metbull.php?code=' + str(c[1])
page = requests.get(url, headers)
    
soup = BeautifulSoup(page.text, 'html.parser')

def get_country_name(country_name_list):
    
    datas = []
    table = soup.find('table', attrs={'id':'maintable'})
    rows = table.find_all('tr')
    
    for row in rows:
        cols = row.find_all('td')
        cols = [ele.text.strip() for ele in cols]
        datas.append([ele for ele in cols if ele]) # Get rid of empty values

    string_formatted = datas[1][1]
    country_name = string_formatted.split("\n")[-2:-1]
    country_name_formated = country_name[0].split(": ")[1]
    cn = country_name_formated.rstrip()
    
    best = 0.0
    cntry_name = ''

    for s in country_name_list:
        ratio = SequenceMatcher(None, cn, s).ratio()
        
        if ratio > best:
            best = ratio
            cntry_name = cn
    
    return cntry_name
        
world = geopandas.read_file(geopandas.datasets.get_path('naturalearth_lowres'))
world['centroid_column'] = world.centroid
country_name_list = world.name.tolist()

for c in data:
    
    if np.isnan(c[7]):
        
        country_name_founded = get_country_name(country_name_list)
        country = world[world.name == name].centroid_column 
        coords = str(country).split('\n')[0].split('POINT ')[1]
        geolocation = coords.replace(" ", ",")
        coords_separated = coords.split(" ")
        lat = coords_separated[0].replace("(", "")
        long = coords_separated[1].replace(")", "")
        c[9] = geolocation
        c[8] = long
        c[7] = lat

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21,Fell,01/01/1880 12:00:00 AM,50.775,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,720,Fell,01/01/1951 12:00:00 AM,56.1833,10.2333,"(56.18333, 10.23333)"
2,Abee,6,Valid,EH4,107000,Fell,01/01/1952 12:00:00 AM,54.2167,-113,"(54.21667, -113.0)"
3,Acapulco,10,Valid,Acapulcoite,1914,Fell,01/01/1976 12:00:00 AM,16.8833,-99.9,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,780,Fell,01/01/1902 12:00:00 AM,-33.1667,-64.95,"(-33.16667, -64.95)"
...,...,...,...,...,...,...,...,...,...,...
45711,Zillah 002,31356,Valid,Eucrite,172,Found,01/01/1990 12:00:00 AM,29.037,17.0185,"(29.037, 17.0185)"
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46,Found,01/01/1999 12:00:00 AM,13.7833,8.96667,"(13.78333, 8.96667)"
45713,Zlin,30410,Valid,H4,3.3,Found,01/01/1939 12:00:00 AM,49.25,17.6667,"(49.25, 17.66667)"
45714,Zubkovsky,31357,Valid,L6,2167,Found,01/01/2003 12:00:00 AM,49.7892,41.5046,"(49.78917, 41.5046)"
45715,Zulu Queen,30414,Valid,L3.7,200,Found,01/01/1976 12:00:00 AM,33.9833,-115.683,"(33.98333, -115.68333)"

In [ ]:
data_resultado = pd.DataFrame(data = data, columns = data_header)
data_resultado

In [276]:
data_resultado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
name           45716 non-null object
id             45716 non-null object
nametype       45716 non-null object
recclass       45716 non-null object
mass (g)       45714 non-null object
fall           45716 non-null object
year           45425 non-null object
reclat         45716 non-null object
reclong        45716 non-null object
GeoLocation    45716 non-null object
dtypes: object(10)
memory usage: 3.5+ MB